/* .stud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-size: xx-large;
}

.container {
    border: 2px solid black;
    height:500px;
    width:500px;
    margin:100px 200px 100px 200px;
    background-color:beige;
    padding:20px;
    color:rgba(107, 47, 47, 0.847);
} */
.signup-container{
    height:100vh;
    background-color:burlywood;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.signup{
    border:2px solid black;
    height:500px;
    width:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:beige;
    gap:25px;
    box-shadow:50px 50px 50px;
}
.data{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    justify-content:center;
}
.but{
    background-color:burlywood;
    display:flex;
    width:100%;
    justify-content:center;
    color:azure;
}

.data input{
    border:none;
    border-radius:10px;
    height:25px;
}
.data label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;

}